---
layout: layouts/default.njk
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 itemprop="headline">{{ title | safe }}</h1>
    <p class="meta">
      Published <time datetime="{{ date | htmlDateString }}" itemprop="datePublished">{{ date | readableDate }}</time>
    </p>
  </header>
  <div itemprop="articleBody">
    {{ content | safe }}
  </div>
</article>
